{% extends "ABM.twig" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ path }}/styles/css/altaProducto.css">
    <link rel="stylesheet" type="text/css" href="{{ path }}/styles/css/listadoProductos.css">
    <link rel="stylesheet" type="text/css" href="{{ path }}/styles/css/paginador.css">
    <script src="{{ path }}/styles/js/highcharts.js"></script>
    <script src="{{ path }}/styles/js/highcharts-3d.js"></script>
    <script src="{{ path }}/styles/js/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="{{ path }}/styles/js/exportarAPdf.js"></script>

{% endblock %}

{% block content %}

    <section class="principal">

        {% if data.listado is empty %}
            <h1>No se han vendido productos entre el {{ data.fechaInicio }} y {{ data.fechaFin }}</h1>
        {% else %}
            <h2>Listado de productos vendidos entre el {{ data.fechaInicio }} y {{ data.fechaFin }}</h2>
            <div id="divListado">
                <table id="listado" class="listado">
                    <tr class="categorias">
                        <th id="nombre">Nombre</th>
                        <th id="marca">Marca</th>
                        <th id="codigoBarra">Codigo de barra</th>
                        <th id="cantVentas">Cantidad de ventas</th>
                    </tr>
                    {% for producto in data.listado %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.marca }}</td>
                            <td>{{ producto.codigo_barra }}</td>
                            <td>{{ producto.cantVentas }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="black" class="margen">
            </div>

            <br />

            <button class="enviar" onclick="javascript:demoFromHTML()">Exportar a PDF</button>

            <br />
            <br />

            <div id="container" style="height: 400px"></div>

            <script type="text/javascript">
                $(function () {
                    Highcharts.chart('container', {
                        chart: {
                            type: 'pie',
                            options3d: {
                                enabled: true,
                                alpha: 45,
                                beta: 0
                            }
                        },
                        title: {
                            text: 'Productos vendidos entre el {{ data.fechaInicio }} y {{ data.fechaFin }}'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                depth: 35,
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.name}'
                                }
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: 'Cantidad de ventas',
                            data: [
                                {% for producto in data.listado %}
                                    ['{{ producto.nombre }}', {{ producto.cantVentas }}],
                                {% endfor %}
                            ]
                        }]
                    });
                });
            </script>
        {% endif %}

    </section>

{% endblock %}