{% extends "layout.twig" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ path }}/styles/css/altaProducto.css">
    <link rel="stylesheet" type="text/css" href="{{ path }}/styles/css/ventaProductos.css">
    <script src="{{ path }}/styles/js/pedido.js"></script>

{% endblock %}

{% block nav %}

    <li>
        <a href="{{ path }}/index.php/?action=Pedido&request=index">Volver</a>
    </li>

{% endblock %}

{% block content %}

    <section class="principal">
{#         <pre>
            {{ dump(data.listado) }}
        </pre> #}

        {% if data.menu is empty %}
            <h3>Aún no hay un menú disponible para el día de hoy</h3>
        {% else %}
            <h3>Menú del día</h3>
            <br />
            <table class="listado">
                <tr class="categorias">
                    <th class="hidden"></th>
                    <th id="nombreProducto">Producto</th>
                    <th id="precio">Precio</th>
                    <th id="cantidad">Cantidad disponible</th>
                    <th id="cantidad">Cantidad a ordenar</th>
                </tr>
                {% for producto in data.menu %}
                    <tr>
                        <form class="pedido-item">
                            <td class="hidden"><input type="hidden" name="id" value="{{ producto.id }}"></td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio_venta_unitario }}</td>
                            <td>{{ producto.stock }}</td>
                            <td>
                                <input name="cantidad" type="number" value="0" min="0" max="50" title="Ingrese cantidad del producto a vender">
                            </td>
                            {% if producto[0] not in data.pedidos|keys %}
                                <td><input class="enviar" type="submit" value="Agregar a la pedido"> </td>
                            {% else %}
                                <td> Producto agregado a la pedido </td>
                            {% endif %}
                        </form>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

            <br/>
            <br/>

        {% if data.productos is empty %}
            <h3>No hay productos para realizar pedidos</h3>
        {% else %}
            <h3>Lista de productos a ordenar</h3>
            <br />
            <table class="listado">
                <tr class="categorias">
                    <th class="hidden"></th>
                    <th id="nombreProducto">Producto</th>
                    <th id="precio">Precio</th>
                    <th id="cantidad">Cantidad disponible</th>
                    <th id="cantidad">Cantidad a ordenar</th>
                </tr>
                {% for producto in data.productos %}
                    <tr>
                        <form class="pedido-item">
                            <td class="hidden"><input type="hidden" name="id" value="{{ producto.id }}"></td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio_venta_unitario }}</td>
                            <td>{{ producto.stock }}</td>
                            <td>
                                <input name="cantidad" type="number" value="0" min="0" max="50" title="Ingrese cantidad del producto a vender">
                            </td>
                            {% if producto[0] not in data.pedidos|keys %}
                                <td><input class="enviar" type="submit" value="Agregar a la pedido"> </td>
                            {% else %}
                                <td> Producto agregado a la pedido </td>
                            {% endif %}
                        </form>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

            <br/>
            <br/>

            {% if data.pedidos is not empty %}
                <h2>Total de productos del pedido:</h2>
                    <table class="listado">
                        <tr class="categorias">
                            <th id="nombreProducto">Producto</th>
                            <th id="precio">Precio</th>
                            <th id="cantidad">Cantidad ordenada</th>
                            <th id="cantidad">Subtotal</th>
                            <th class="title"></th>
                            <th class="hidden"></th>
                        </tr>
                        {% for pedido in data.pedidos %}
                            <tr>
                                <form class="subtotal-item">
                                    <td class="hidden"><input name="id" value="{{ pedido.id }}" type="hidden" {# readonly="true" #}></td>
                                    <td>{{ pedido.nombre }}</td>
                                    <td>{{ pedido.precio_venta_unitario }}</td>
                                    <td>{{ pedido.cantidad }}</td>
                                    <td>{{ pedido.subtotal }}</td>
                                    <td><input class="cancelar" type="submit" value="Quitar"></td>
                                </form>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="title  bord0" ></td>
                            <td class="title  bord0" ></td>
                            <td class="title  bord0" >Total</td>
                            <td class="title  bord2" >{{ data.total }}</td>
                            <td class="title"></td>
                            <td class="hidden"></td>
                        </tr>
                    </table>

                <br/>
                <br/>
                <form action="{{ path }}/index.php/?action=Pedido&request=generarPedido" method="POST">
                    <input class="enviar" type="submit" value="Generar Pedido" style=" width: 300px;">
                </form>
                <br/>
                <br/>

                <!-- TODO: Ver el boton cancelar que esta funcionando mal -->
                <a class="cancelar" href="{{ path }}/index.php/?action=Pedido&request=cancelar" style="width: 300px;">Cancelar</a>

            {% endif %}


    </section>

{% endblock %}
