{% extends "ABM.twig" %}

{% block content %}

    <section class="principal">

        <p class="error"> {{ data.mensaje.exito }} </p>

        <h2>Pedidos online</h2>
            <input class="enviar" type="button" onclick="location.href='{{ path }}/index.php/?action=Pedido&request=vistaCrear';" value="Realizar pedido" />

           <h3>---------------------------</h3>
           <h3>Lista de tus pedidos</h3>
<br/>
            Ingrese una fecha en formato dd-mm-AAAA para filtrar
<br/>
        <form action="{{ path }}/index.php/?action=Pedido&request=index" method="POST">
            <input type="text" name="fechaFiltro" placeholder="dd-mm-AAAA" pattern="(0[1-9]|1[0-9]|2[0-9]|3[0-1])-(0[1-9]|1[0-2])-[0-9]{4}" value="{{ data.filtro }}">
            <input type="submit" class="enviar" value="Filtrar">
        </form>

        {% if data.listado is empty %}
            <h3>Aún no realizaste ningún pedido</h3>
        {% else  %}
 
                <table id="listado" class="listado">
                    <tr class="categorias">
                        <th id="nombreProducto">Fecha</th>
                        <th id="total">Total a pagar</th>
                        <th id="Estado">¿Cancelable? <br/> (Dentro de la 1/2 hora)</th>
                        <th id="Estado">Estado</th>
                        <th id="Estado">Observacion</th>
                        <th id="detalle">Detalle</th>
                    </tr>
                    {% for pedido in data.listado %}
                        <tr>
                            <td>{{ pedido.fecha }}</td>
                            <td>{{ pedido.total }}</td>
                                <td>{{ pedido.cancelable }} 
                                    {% if pedido.cancelable == "Si" %}
                                        <a href="{{ path }}/index.php/?action=Pedido&request=cancelar&pedido={{ pedido.id}}"><img title="Cancelar" src="https://grupo46.proyecto2016.linti.unlp.edu.ar/entrega1/imagenes/eliminar.png" class="imagenesListado" alt="Eliminar"></a>
                                    {% endif %}

                                </td>
                            <td>{{ pedido.estado }}</td>
                            <td>{{ pedido.observacion }}</td>
                            <td>
                                <a href="{{ path }}/index.php/?action=Pedido&request=detallePedido&numeroPedido={{ pedido.id }}"><img title="Ver" src="https://grupo46.proyecto2016.linti.unlp.edu.ar/entrega1/imagenes/ver.png" class="imagenesListado" alt="Ver"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div id="black" class="margen">
                </div>

        {% endif  %}

    </section>

{% endblock %}