{% extends "layout.twig" %}

{% block head %}
{% endblock %}
{% block nav %}
    {% block inner_nav %}
        <li> <img class="liIcon" src="{{ path }}/styles/images/home-icon.png" alt="Inicio" >
            <a id="home" href="{{ path }}/index.php/?action=Home&request=frontend">Inicio</a></li>
    {% endblock %}
        <li class="activado"> <img class="liIcon" src="{{ path }}/styles/images/operations-icon.png" alt="Operaciones" >
            <a>Operaciones</a>
            <ul>
                {% if session.rol_id == '1' or session.rol_id == '2' %}
                <li><img class="liIcon" src="{{ path }}/styles/images/food-icon.png" alt="inicio" >
                    <a href="{{ path }}/index.php/?action=Producto&request=index">Productos</a></li>
                <li><img class="liIcon" src="{{ path }}/styles/images/buy-icon.png" alt="inicio" >
                    <a href="{{ path }}/index.php/?action=Compra&request=index">Compras</a></li>
                <li><img class="liIcon" src="{{ path }}/styles/images/sell-icon.png" alt="inicio" >
                    <a href="{{ path }}/index.php/?action=Venta&request=index">Ventas</a></li>
                {% endif %} {% if session.rol_id == '1' %}
                <li><img class="liIcon" src="{{ path }}/styles/images/user-icon.png" alt="inicio" >
                    <a href="{{ path }}/index.php/?action=Usuario&request=index">Usuarios </a></li>
                {% endif %}
                <li><img class="liIcon" src="{{ path }}/styles/images/menu-icon.png" alt="inicio" >
                    <a href="{{ path }}/index.php/?action=MenuBuffet&request=index">Men&uacute; buffet</a></li>
                <li><img class="liIcon" src="{{ path }}/styles/images/queue-icon.png" alt="inicio" >
                    <a href="{{ path }}/index.php/?action=Pedido&request=index">Pedidos Online</a></li>
            </ul>
        </li>
        {% if (session.rol_id == '1' or session.rol_id == '2') %}
        <li class="activado"> <img class="liIcon" src="{{ path }}/styles/images/report-icon.png" alt="Listados" >
            <a>Listados</a>
            <ul>
                <li><img class="liIcon" src="{{ path }}/styles/images/balance-icon.png" alt="Faltantes" >
                    <a href="{{ path }}/index.php/?action=Listado&request=productosFaltantes">Productos faltantes</a></li>
                <li><img class="liIcon" src="{{ path }}/styles/images/balance-icon.png" alt="Stock minimo" >
                    <a href="{{ path }}/index.php/?action=Listado&request=productosStockMinimo">Productos con stock mínimo</a></li>
            </ul>
        </li>
        {% endif %}
        {% if session.rol_id == '1' %}
        <li><img class="liIcon" src="{{ path }}/styles/images/configuration-icon.png" alt="Configuracion" >
            <a href="{{ path }}/index.php/?action=Configuracion&request=vistaConfiguracion">Configuraci&oacute;n</a></li>
        {% endif %}
        <li class="user"><a href="#" class="usuario">Bienvenido, {{ session.usuario }}</a></li>
        <li class="user sesion">
            <a href="{{ path }}/index.php/?action=Sesion&request=logout">Cerrar sesi&oacute;n</a>
            <img class="liIcon" src="{{ path }}/styles/images/bye-icon.png" alt="Salir" >
        </li>
{% endblock %}
{% block content %}
<section class="principal">
    <h2>En el buffet hay comida, golosinas y cafe.</h2>
    <article>
        <h3>Menu del dia</h3>
        <br />
        <p>Lunes 19 de septiembre de 2016
            <br>.Medallones de merluza con arroz
            <br>.Ensalada integral
            <br>.Milanesa de carne con frita</p>
    </article>
    <article>
        <h3>Menu del dia</h3>
        <br />
        <p>Viernes 16 de septiembre de 2016
            <br>.Medallones de merluza con arroz
            <br>.Ensalada integral
            <br>.Milanesa de carne con frita</p>
    </article>
    <article>
        <h3>Menu del dia</h3>
        <br />
        <p>Jueves 15 de septiembre de 2016
            <br>.Medallones de merluza con arroz
            <br>.Ensalada integral
            <br>.Milanesa de carne con frita</p>
    </article>
</section>
<aside>
    <h2>Promos
            </h2>
    <p>Disfruta de las promos si sos socio de la Universidad click al sigueinte enlance y enterate como.</p>
</aside>
{% endblock %}
