{% extends "ABM.twig" %}

{% block content %}
    {% if data.mensaje.exito is not empty %}
    <h2>{{ data.mensaje.exito }}</h2>
    {% else %}
    {% endif %}
    <input class="enviar" type="button" onclick="location.href='{{ path }}/index.php/?action=Usuario&request=crear';" value="Crear nuevo usuario" />

    <section class="principal">
        <h2>Listado de usuarios</h2>
        <table id="listado" class="listado ">
            <thead>
            <tr class="categorias">
                <th id="usuario">Usuario</th>
                <th id="nombre">Nombre</th>
                <th id="apellido">Apellido</th>
                <th id="email">Email</th>
                <th id="telefono">Teléfono</th>
                <th id="rol">Rol</th>
                <th id="ubicacion">Ubicacion</th>
                <th id="ubicacion">Habilitado?</th>
                <th id="operaciones">Operaciones</th>

            </tr>
            </thead>
            {% for usuario in data.listado %}
            <tbody>
            <tr>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario[3] }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{% if usuario.rol_id == 1 %}
                    administrador
                {% elseif usuario.rol_id == 2 %}
                    gestion
                {% else %}
                    cliente
                {% endif %}
                </td>
                <td>{{ usuario[13] }}</td>
                <td>{% if usuario.habilitado == 1 %} Si {% else %} No {% endif %}</td>
                <td>
                    <a href="{{ path }}/index.php/?action=Usuario&request=editar&operacion=modificar&usuario={{ usuario.usuario }}"><img title="Editar" src="https://grupo46.proyecto2016.linti.unlp.edu.ar/entrega1/imagenes/editar.png" class="imagenesListado" alt="Editar"></a>

                    <a href="{{ path }}/index.php/?action=Usuario&request=editar&operacion=borrar&usuario={{ usuario.usuario }}"><img title="Eliminar" src="https://grupo46.proyecto2016.linti.unlp.edu.ar/entrega1/imagenes/eliminar.png" class="imagenesListado" alt="Eliminar"></a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        <div id="black" class="margen">
        </div>
    </section>

{% endblock %}